.profile {
    text-align: center;
    background-color: burlywood;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }

  .homePage {
    background-color: burlywood;
  }
  
  .eduLink {
    color: black;
    border: 5;
    border-style: dashed;
  }
  
  .profileCard {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: 40vmin;
    width: 85vmin;
    /*justify-content: center;*/
  }
  
  .cardContent {
    background-color: rgb(164, 191, 241);
    color: black;
  }

  .collegeButton {
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: brown;
    color: white;
  }
  
  
  
  